[project]
	description = Jekyll for email newsletters (powered by MailChimp)
[access "refs/*"]
	owner = group user/Nolboo Kim (nolboo)
[access "refs/for/refs/*"]
	read = group user/Nolboo Kim (nolboo)
	push = group user/Nolboo Kim (nolboo)
	label-Code-Review = -2..+2 group user/Nolboo Kim (nolboo)
	label-Verified = -1..+1 group user/Nolboo Kim (nolboo)
	rebase = group user/Nolboo Kim (nolboo)
	removeReviewer = group user/Nolboo Kim (nolboo)
	submit = group user/Nolboo Kim (nolboo)
[access "refs/heads/*"]
	read = group user/Nolboo Kim (nolboo)
	create = group user/Nolboo Kim (nolboo)
	push = +force group user/Nolboo Kim (nolboo)
	pushMerge = group user/Nolboo Kim (nolboo)
[access "refs/tags/*"]
	push = +force group user/Nolboo Kim (nolboo)
	pushTag = group user/Nolboo Kim (nolboo)
	pushSignedTag = group user/Nolboo Kim (nolboo)
